* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 23.5px 7%;
  background-color: #ffffff;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 24px;
  font-weight: 500;
}
.menu li a {
  text-decoration: none;
  color: #575757;
}
.common-button {
  background: #1d4ed8;
  color: #ffffff;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  border: none;
}

/* Herro dextion */

.herro-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");

  height: 730px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
  color: #ffffff;
  gap: 60%;
}
body {
  font-family: "Inter", sans-serif;
}
.herro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.herro-text p {
  width: 45%;
}
.herro-text h1 {
  font-weight: 800;
  font-size: 45px;
}
/* Speakers Section */

.card-container {
  padding: 3% 6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  gap: 20px;
}

.card-parent {
  /* display: grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
  justify-content: center; */

  text-align: center;
}
.card-container img {
  width: 100%;
  height: auto;
}
.card-parent h1 {
  padding: 30px;
  padding-top: 80px;
  font-size: 45px;
}
.card-1,
.card-2,
.card-3,
.card-4 {
  border: 1px solid #e5e7eb;

  border-radius: 10px;
  overflow: hidden;
}
.des {
  text-align: left;
  padding: 20px 20px;
}
.des .first {
  color: #2563eb;
}
.des h4 {
  padding: 10px 0;
}
.des p {
  color: #575757;
}

/* pricing section */

.pricing {
  width: 1200px;
  max-width: 90%;
  margin: 120px auto;
}

.pricing-heading {
  text-align: center;
  margin-bottom: 55px;
}

.pricing-heading h2 {
  font-size: 45px;
  font-weight: 800;
  color: #172233;
  margin-bottom: 12px;
}

.pricing-heading p {
  color: #6b7280;
  font-size: 14px;
}

.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card-standard {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 32px;
}

.card-standard ul {
  margin: 24px 0;
  padding-left: 20px;
}

.card-standard li {
  margin-bottom: 12px;
  color: #333333;
}

.card-standard span {
  color: #888888;
}

.card-standard h3 {
  color: #0d1b2a;
  padding: 10px 0;
}

.card-standard small {
  color: #888888;
}
.card-standard hr {
  margin-top: 20px;
}

.button-std {
  width: 95%;
  height: 40px;
  display: block;
  background-color: #ffffff;
  color: #1d4ed8;
  border: 1px solid #1d4ed8;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
  font-weight: 600;
}

.card-pro {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 32px;
  background-color: #0d1b2a;
}

.card-pro ul {
  margin: 24px 0;
  padding-left: 20px;
}

.card-pro li {
  margin-bottom: 12px;
  color: #d7d3d3;
}
.card-pro span {
  color: #93c5fd;
}
.card-pro h3 {
  color: #ffffff;
  padding: 10px 0;
}
.card-pro small {
  color: #f0ebeb;
}
.card-pro hr {
  margin-top: 20px;
}

ul li::marker {
  color: #2563eb;
}

.button-pro {
  width: 95%;
  height: 40px;
  display: block;
  background-color: #1d4ed8;
  color: #ffffff;
  border: none;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
  font-weight: 600;
}

.card-team {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 32px;
}

.card-team ul {
  margin: 24px 0;
  padding-left: 20px;
}

.card-team li {
  margin-bottom: 12px;
  color: #333333;
}

.card-team span {
  color: #888888;
}

.card-team h3 {
  color: #0d1b2a;
  padding: 10px 0;
}

.card-team small {
  color: #888888;
}
.card-team hr {
  margin-top: 20px;
}
.button-tm {
  width: 95%;
  height: 40px;
  display: block;
  background-color: #ffffff;
  color: #0d1b2a;
  border: 1px solid #0d1b2a;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
  font-weight: 600;
}

/* Missing section */

/* Conference Schedule */

.schedule-section {
  width: 1200px;
  max-width: 90%;
  margin: 120px auto;
  text-align: center;
}

.schedule-heading h2 {
  font-size: 45px;
  font-weight: 800;
  color: #172233;
  margin-bottom: 12px;
}

.schedule-heading p {
  color: #6b7280;
  margin-bottom: 55px;
}

.schedule-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.schedule-card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 30px;
  text-align: left;
  transition: 0.3s;
}

.schedule-card.active {
  background: #0d1b2a;
  color: white;
}

.schedule-card.active .day {
  color: #93c5fd;
}

.schedule-card.active .schedule-item span,
.schedule-card.active .schedule-item p {
  color: #f3f4f6;
}

.day {
  color: #2563eb;
  font-size: 14px;
  font-weight: 700;
}

.schedule-card h3 {
  margin: 12px 0 28px;
  font-size: 24px;
}

.schedule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #e5e7eb;
}

.schedule-item span {
  font-weight: 600;
  color: #2563eb;
}

.schedule-item p {
  color: #4b5563;
}

.schedule-btn {
  margin-top: 50px;
}



/* ================= Footer ================= */

.footer{
    background:#0D1B2A;
    padding:40px 7%;
    color:#ffffff;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.footer-logo img{
    width:110px;
}

.footer-social{
    display:flex;
    gap:18px;
}

.footer-social a{
    width:38px;
    height:38px;
    background:#1e293b;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.3s;
}

/* .footer-social a:hover{
    background:#2563eb;
} */

.footer-social img{
    width:18px;
    height:18px;
}

.footer hr{
    border:none;
    border-top:1px solid #334155;
    margin:20px 0;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:15px;
}

.footer-bottom p{
    color:#FFFFFF;
    font-size:14px;
}

.footer-links{
    display:flex;
    gap:25px;
}

.footer-links a{
    color:#FFFFFF;
    text-decoration:none;
    font-size:14px;
}

.footer-social i{
    color:#ffffff;
    font-size:16px;
}
