* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 23.5px 115.5px;
  background-color: #ffffff;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 24px;
  font-weight: 500;
}
.menu li a {
  text-decoration: none;
  color: #575757;
}
.common-button {
  background: #1d4ed8;
  color: #ffffff;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  border: none;
}
.herro-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");

  height: 730px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
  color: #ffffff;
  gap: 60%;
}
body {
  font-family: "Inter", sans-serif;
}
.herro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.herro-text p {
  width: 45%;
}
.herro-text h1 {
  font-weight: 800;
  font-size: 45px;
}
